*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  Font-size: 18px;
  overflow-x: hidden;
}

.header{
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 55px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.head-logo-img{
  width: 200px;
}

.left-head{
  margin-left: 110px;
}

.middle-head{
  display: flex;
  flex-direction: row;
}

.link, a{
  text-decoration: none;
}

.link{
  margin-left: 20px;
  text-decoration: none;
  font-family: sans-serif;
}

.head-btn {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));    
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 15px 35px 15px 35px;
  margin-right: 100px;
  font-size: 22px;
  text-align: center;
}

.content-btn{
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 22px;
  margin-right: 100px;
  text-align: center;
  padding: 15px 35px 15px 35px;
}

.content{
  background-color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: space-between;
}

.container-1{
  width: 450px;
  margin-top: 160px;
  margin-left: 130px;
  color:hsl(233, 26%, 24%);
  font-family: sans-serif;
  /* font-family: public-sans; */
}

.images{
  position: relative;
}

.intro-desktop-img{
  width: 900px;
  position: relative;
  top: -50px;
  right: -150px;
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
}

.mockups-img{
  width: 500px;
  position: absolute;
}

.theme-h1{
  width: 500px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 100;
}

.theme-p{
  font-size: 21px;
  width: 500px;
  font-weight: 00;
color: hsl(233, 8%, 62%);
  margin-bottom: 30px;
  line-height: 35px;
}

.container-2 {
  background-color: hsl(220, 16%, 96%);
  padding-top: 50px;
  padding-left: 150px;
  padding-bottom: 100px;
  padding-right: 70px;
}

.text{
  margin-bottom: 60px;
  width: 800px;
  color: hsl(233, 8%, 62%);
  font-family: sans-serif;
  font-size: 22px;
}

.text-1{
  width: 300px;
  font-size: 23px;
  color: hsl(233, 8%, 62%);
  line-height: 30px;
}

.details-img{
  width: 100px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.text-h2{
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 20px;
  color: hsl(233, 26%, 24%);

}

.choose{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.articles{
  padding-top: 50px;
  padding-left: 180px;
  padding-bottom: 50px;
  background-color: hsl(0, 0%, 98%);
}

.grid-article{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 1000px;

}

.article{
  background-color: white;
  
}

.head-2{
  font-family: sans-serif;
  color: hsl(233, 26%, 24%);
  font-weight: 100;
  font-size: 55px;
  margin-bottom: 20px;
}

.head-3{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: sans-serif;
 color: hsl(233, 26%, 24%);
 font-size: 55px;
 font-weight: 100;
}

.currency-img{
  height: 240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.restaurant-img
{
  width: 360px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 25px;
}

.plane-img,
.confetti-img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 25px;
}

.name
{
  color: hsl(233, 8%, 62%);
  font-family: sans-serif;
  margin-top: 25px;
  margin-left: 30px;
}

.advert{
  margin-top: 10px;
  color: hsl(233, 24%, 15%);
  margin-left: 30px;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 24px;
}

.advert-1{
  color: hsl(233, 8%, 62%);
  margin-top: 15px;
  margin-left: 30px;
}

.advert:hover{
  color:hsl(136, 65%, 51%);
  transition: 0.3s;
}

.plane-img{
  width: 300px;
}
.confetti-img{
  width: 300px; 
}


.footer{
  background-color:hsl(233, 26%, 24%) ;
  margin-top: 50px;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 50px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
}

.foot-1{
  display: fl;
}

.media{
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
}

.media-img{
  width: 35px;
}

.foot-logo-img{
  width: 200px;
}

.foot-btn{
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 22px;
  margin-bottom: 20px;
  padding: 15px 35px 15px 35px;
  margin-left: 50px;
}

.foot-3 > li > a{
  text-decoration: none;
 font-size: 23px;
 font-family: sans-serif;
 color: white;
}
.foot-4 > li > a{
  text-decoration: none;
 font-size: 23px;
 justify-content: space-between;
 font-family: sans-serif;
 color: white;
}

.foot-3 > li {
  list-style-type: none;
}
.foot-4 > li {
  list-style-type: none;
}

.foot-2 {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
  margin-right: 200px;
  
}


.foot-p{
  color: hsl(233, 8%, 62%);
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.foot-logo-text{
  position: relative;
}

.foot-text{
  color: white;
  font-family: sans-serif;
  font-size: 27px;
  font-weight: 800;
  position: absolute;
  top: -5px;
  left: 40px;
}